body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    background-color: #333333;
    height: 100vh;
}

svg.kleinbiertje {
    color: #eeeeee;
    width: 16px;
    height: 16px;
}

.kleinbiertje path {
    fill: #eee;
}

.fa-primary {
    fill: #eee;
}

.fa-secondary {
    fill: #f1d328;
}